<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!-- <h1>
    Welcome to {{title}}!
  </h1> -->
  <!-- <p *ngIf="status" style="font-size: 25px">Hello world</p> -->
  <!-- <ul *ngFor="let p of people">
    <li style="list-style: none;">{{p.name}}</li>
    <img src={{p.url}} style="width:10%;">
  </ul> -->
  <!-- <div>
    <p>-- {{appList[0] | lowercase}}</p>
    <p>-- {{appList[1]}}</p>
    <p>-- {{appList[2]}}</p>
  </div> -->
  <!-- <div>
    <button (click)="clicked()">click me</button>
    <span *ngIf="isClicked">{{myText}}</span>
  </div> -->
  <div> 
    The date of this Tutorial is {{dateToday | date:"dd/MM/yy"}}<br>  
 </div>
  <div>
    <input value = {{name}}/>
    <p>Hello! {{name}}</p>
  </div>
  
</div>


